<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\Logs\MyApp\nlog.internal.txt">

  <!--<extensions>
    --><!--enable NLog.Web for ASP.NET Core--><!--
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>-->

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <!--Archive above size is not working in NLog as of this time - 2017.03.17-->
    <target xsi:type="File"
            name="allfile"
            fileName="c:\Logs\MyApp\MyApp-All-${shortdate}.log"
            archiveFileName="c:\Logs\MyApp\Archives\MyApp-All-${shortdate}.{#####}.log"
            archiveAboveSize="2097152"
            archiveNumbering="Sequence"
            maxArchiveFiles="100"
            layout="${longdate}|${logger}|${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File"
            name="ownFile"
            fileName="c:\Logs\MyApp\MyApp-Own-${shortdate}.log"
            archiveFileName="c:\Logs\MyApp\Archives\MyApp-Own-${shortdate}.{#####}.log"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence"
            maxArchiveFiles="100"
            layout="${longdate}|${logger}|${callsite:className=false:includeNamespace=false:includeSourcePath=false:methodName=true}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="ownFile" />
  </rules>
</nlog>